<div class="row" style="margin-top:100px">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        ICC : 1234567891 -- Jeff Arden
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td style="width: 15%;">
                                        Date
                                    </td>
                                    <td style="width: 15%;">
                                        Id Client
                                    </td>
                                    <td style="width: 15%;">
                                        Demande
                                    </td>
                                    <td style="width: 15%;">
                                        Adresse Livraison
                                    </td>
                                    <td style="width: 15%;">
                                        Status
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="notes-list-tbody">
                                <tr>
                                    <td>
                                        <small>
                                            16/2/2017 - 15:41
                                        </small>
                                    </td>
                                    <td>
                                        <small>
                                            azd23dtf
                                        </small>
                                    </td>
                                    <td>
                                        paire de chaussures
                                    </td>
                                    <td>
                                        <small>
                                            5 rue des rue -- 69003 Lyon
                                        </small>
                                    </td>
                                    <td>
                                        <small>
                                            Terminé
                                        </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <small>
                                            10/2/2017 - 15:12
                                        </small>
                                    </td>
                                    <td>
                                        <small>
                                            azd2skv
                                        </small>
                                    </td>
                                    <td>
                                        cigarettes Malboro light
                                    </td>
                                    <td>
                                        <small>
                                            45 route des routes -- 69003 Lyon
                                        </small>
                                    </td>
                                    <td>
                                        <small>
                                            Annulé
                                        </small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ICC : 1234567892 -- Kono Nakata
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td style="width: 15%;">
                                        Date
                                    </td>
                                    <td style="width: 15%;">
                                        Id Client
                                    </td>
                                    <td style="width: 15%;">
                                        Demande
                                    </td>
                                    <td style="width: 15%;">
                                        Adresse Livraison
                                    </td>
                                    <td style="width: 15%;">
                                        Status
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="notes-list-tbody">
                            <tr>
                                <td>
                                    <small>
                                        16/2/2017 - 15:41
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        azd23dtf
                                    </small>
                                </td>
                                <td>
                                    paire de chaussures
                                </td>
                                <td>
                                    <small>
                                        lieudit du chemin -- 69100 Villeurbanne
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        Terminé
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        10/2/2017 - 15:12
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        azd2skv
                                    </small>
                                </td>
                                <td>
                                    cigarettes Malboro light
                                </td>
                                <td>
                                    <small>
                                        45 route des routes -- 69003 Lyon
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        Annulé
                                    </small>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingthree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ICC : 1234567892 -- Kono Nakata
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td style="width: 15%;">
                                    Date
                                </td>
                                <td style="width: 15%;">
                                    Id Client
                                </td>
                                <td style="width: 15%;">
                                    Demande
                                </td>
                                <td style="width: 15%;">
                                    Adresse Livraison
                                </td>
                                <td style="width: 15%;">
                                    Status
                                </td>
                            </tr>
                            </thead>
                            <tbody id="notes-list-tbody">
                            <tr>
                                <td>
                                    <small>
                                        16/2/2017 - 15:41
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        azd23dtf
                                    </small>
                                </td>
                                <td>
                                    paire de chaussures
                                </td>
                                <td>
                                    <small>
                                        lieudit du chemin -- 69100 Villeurbanne
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        Terminé
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        10/2/2017 - 15:12
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        azd2skv
                                    </small>
                                </td>
                                <td>
                                    cigarettes Malboro light
                                </td>
                                <td>
                                    <small>
                                        45 route des routes -- 69003 Lyon
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        Annulé
                                    </small>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        ICC : 1234567892 -- Kono Nakata
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td style="width: 15%;">
                                    Date
                                </td>
                                <td style="width: 15%;">
                                    Id Client
                                </td>
                                <td style="width: 15%;">
                                    Demande
                                </td>
                                <td style="width: 15%;">
                                    Adresse Livraison
                                </td>
                                <td style="width: 15%;">
                                    Status
                                </td>
                            </tr>
                            </thead>
                            <tbody id="notes-list-tbody">
                            <tr>
                                <td>
                                    <small>
                                        16/2/2017 - 15:41
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        azd23dtf
                                    </small>
                                </td>
                                <td>
                                    paire de chaussures
                                </td>
                                <td>
                                    <small>
                                        lieudit du chemin -- 69100 Villeurbanne
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        Terminé
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        10/2/2017 - 15:12
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        azd2skv
                                    </small>
                                </td>
                                <td>
                                    cigarettes Malboro light
                                </td>
                                <td>
                                    <small>
                                        45 route des routes -- 69003 Lyon
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        Annulé
                                    </small>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        ICC : 1234567892 -- Kono Nakata
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td style="width: 15%;">
                                        Date
                                    </td>
                                    <td style="width: 15%;">
                                        Id Client
                                    </td>
                                    <td style="width: 15%;">
                                        Demande
                                    </td>
                                    <td style="width: 15%;">
                                        Adresse Livraison
                                    </td>
                                    <td style="width: 15%;">
                                        Status
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="notes-list-tbody">
                            <tr>
                                <td>
                                    <small>
                                        16/2/2017 - 15:41
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        azd23dtf
                                    </small>
                                </td>
                                <td>
                                    paire de chaussures
                                </td>
                                <td>
                                    <small>
                                        lieudit du chemin -- 69100 Villeurbanne
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        Terminé
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small>
                                        10/2/2017 - 15:12
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        azd2skv
                                    </small>
                                </td>
                                <td>
                                    cigarettes Malboro light
                                </td>
                                <td>
                                    <small>
                                        45 route des routes -- 69003 Lyon
                                    </small>
                                </td>
                                <td>
                                    <small>
                                        Annulé
                                    </small>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

