<div class="col-sm-3 col-md-2 sidebar" style="z-index:-1000">
    <ul class="nav nav-sidebar">
        <li><a class="ablue" href="#">Steve Curry<br/>id client: CP0000000003<br/>12/02/2017 - 17:33</a></li><hr>
        <li><a class="ablue" href="#">Annick Rossa<br/>id client: CP0000000002<br/>12/02/2017 - 11:09</a></li><hr>
        <li><a class="ablue" href="#">Amine Dada<br/>id client: CP0000000001<br/>12/02/2017 - 08:03</a></li><hr>
    </ul>
</div>
