<div id="o-wrapper" class="o-wrapper">
    <header class="o-header">
        <nav class="navbar navbar-fixed-top o-header-nav">
            <a href="" class="o-header-nav__link"><i class="fa fa-arrow-left"></i> Previous Demo</a>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Recherche...">
            </form>
            <a href="" class="o-header-nav__link">Back To Article <i class="fa fa-star"></i></a>
        </nav>
        <!--<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">BUTLER MANAGEMENT</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Email <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Email Type</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Recherche...">
                    </form>
                </div>
            </div>
        </nav>-->
    </header><!-- /o-header -->
</div><!-- /o-wrapper -->

<nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
    <button class="c-menu__close">&larr; Close Menu</button>
    <ul class="c-menu__items">
        <li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Work</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Contact</a></li>
    </ul>
</nav><!-- /c-menu slide-left -->

<nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
    <button class="c-menu__close">Close Menu &rarr;</button>
    <ul class="c-menu__items">
        <li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Work</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Contact</a></li>
    </ul>
</nav><!-- /c-menu slide-right -->

<nav id="c-menu--push-left" class="c-menu c-menu--push-left">
    <button class="c-menu__close">&larr; Close Menu</button>
    <ul class="c-menu__items">
        <li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Work</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Contact</a></li>
    </ul>
</nav><!-- /c-menu push-left -->

<nav id="c-menu--push-right" class="c-menu c-menu--push-right">
    <button class="c-menu__close">Close Menu &rarr;</button>
    <ul class="c-menu__items">
        <li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Work</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Contact</a></li>
    </ul>
</nav><!-- /c-menu push-right -->

<nav id="c-menu--slide-top" class="c-menu c-menu--slide-top">
    <button class="c-menu__close"><strong>x</strong></button>
    <ul class="c-menu__items">
        <li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
    </ul>
</nav><!-- /c-menu slide-top -->

<nav id="c-menu--push-top" class="c-menu c-menu--push-top">
    <button class="c-menu__close"><strong>x</strong></button>
    <ul class="c-menu__items">
        <li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
    </ul>
</nav><!-- /c-menu push-top -->

<nav id="c-menu--slide-bottom" class="c-menu c-menu--slide-bottom">
    <button class="c-menu__close"><strong>x</strong></button>
    <ul class="c-menu__items">
        <li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
    </ul>
</nav><!-- /c-menu slide-bottom -->

<nav id="c-menu--push-bottom" class="c-menu c-menu--push-bottom">
    <button class="c-menu__close"><strong>x</strong></button>
    <ul class="c-menu__items">
        <li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
    </ul>
</nav><!-- /c-menu push-bottom -->

<div id="c-mask" class="c-mask"></div><!-- /c-mask -->

<!-- menus script -->
<script src="{{ asset('bundles/ButlerBundle/assets/admin-slide-menu/js/dist/menu.js') }}" rel="stylesheet"></script>
<script>

    /**
     * Slide left instantiation and action.
     */
    var slideLeft = new Menu({
        wrapper: '#o-wrapper',
        type: 'slide-left',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
    });

    var slideLeftBtn = document.querySelector('#c-button--slide-left');

    slideLeftBtn.addEventListener('click', function(e) {
        e.preventDefault;
        slideLeft.open();
    });





    /**
     * Push left instantiation and action.
     */
    var pushLeft = new Menu({
        wrapper: '#o-wrapper',
        type: 'push-left',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
    });

    var pushLeftBtn = document.querySelector('#c-button--push-left');

    pushLeftBtn.addEventListener('click', function(e) {
        e.preventDefault;
        pushLeft.open();
    });





    /**
     * Slide right instantiation and action.
     */
    var slideRight = new Menu({
        wrapper: '#o-wrapper',
        type: 'slide-right',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
    });

    var slideRightBtn = document.querySelector('#c-button--slide-right');

    slideRightBtn.addEventListener('click', function(e) {
        e.preventDefault;
        slideRight.open();
    });





    /**
     * Push right instantiation and action.
     */
    var pushRight = new Menu({
        wrapper: '#o-wrapper',
        type: 'push-right',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
    });

    var pushRightBtn = document.querySelector('#c-button--push-right');

    pushRightBtn.addEventListener('click', function(e) {
        e.preventDefault;
        pushRight.open();
    });





    /**
     * Slide top instantiation and action.
     */
    var slideTop = new Menu({
        wrapper: '#o-wrapper',
        type: 'slide-top',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
    });

    var slideTopBtn = document.querySelector('#c-button--slide-top');

    slideTopBtn.addEventListener('click', function(e) {
        e.preventDefault;
        slideTop.open();
    });





    /**
     * Push top instantiation and action.
     */
    var pushTop = new Menu({
        wrapper: '#o-wrapper',
        type: 'push-top',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
    });

    var pushTopBtn = document.querySelector('#c-button--push-top');

    pushTopBtn.addEventListener('click', function(e) {
        e.preventDefault;
        pushTop.open();
    });





    /**
     * Slide bottom instantiation and action.
     */
    var slideBottom = new Menu({
        wrapper: '#o-wrapper',
        type: 'slide-bottom',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
    });

    var slideBottomBtn = document.querySelector('#c-button--slide-bottom');

    slideBottomBtn.addEventListener('click', function(e) {
        e.preventDefault;
        slideBottom.open();
    });





    /**
     * Push bottom instantiation and action.
     */
    var pushBottom = new Menu({
        wrapper: '#o-wrapper',
        type: 'push-bottom',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
    });

    var pushBottomBtn = document.querySelector('#c-button--push-bottom');

    pushBottomBtn.addEventListener('click', function(e) {
        e.preventDefault;
        pushBottom.open();
    });

</script>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <main class="o-content">
        <div class="o-container" style="margin-bottom: 10px">
            <div class="c-buttons">
                <button id="c-button--slide-left" class="c-button">Menu</button>
                <button id="c-button--slide-right" class="c-button">Email</button>
                <button style="display:none" id="c-button--push-left" class="c-button">Push Left</button>
                <button style="display:none" id="c-button--push-right" class="c-button">Push Right</button>
                <button style="display:none" id="c-button--slide-top" class="c-button">Slide Top</button>
                <button style="display:none" id="c-button--slide-bottom" class="c-button">Slide Botton</button>
                <button style="display:none" id="c-button--push-top" class="c-button">Push Top</button>
                <button style="display:none" id="c-button--push-bottom" class="c-button">Push Bottom</button>
            </div>
        </div><!-- /o-container -->
    </main><!-- /o-content -->
{% include '_admin_stepbar.html.twig' %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div class="panel-heading">
                            Info Client
                            <small>
                                <a class="ablue" id="edit-info-button">
                                    <i class="fa fa-info-circle"></i>
                                    plus d'infos
                                </a>&nbsp;|&nbsp;
                                <a class="ablue" id="suivi-button">
                                    <i class="fa fa-eye"></i>
                                    page de suivi
                                </a>&nbsp;|&nbsp;
                                <a href="#" id="annule-button" class="text-danger">
                                    <i class="fa fa-ban"></i>
                                    annuler
                                </a>
                            </small>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Attribuer a:</p>
                    <p>Emplacement:</p>
                    <p>Nom:</p>
                    <p>Prenom:</p>
                    <p>Raison Sociale:</p>
                    <p>Adresse de Livraison:</p>
                    <p>Telephone:</p>
                    <p>Email:</p>
                    <p>Objet:</p>
                    <p>Twilio:</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div class="panel-heading">
                            Paiement
                            <small style="margin-top: 5px;">
                                <a class="ablue" id="price-info-button">
                                    <i class="fa fa-info-circle"></i>
                                    plus d'infos
                                </a>&nbsp;|&nbsp;
                                <a class="ablue" id="facture-button">
                                    <i class="fa fa-eye"></i>
                                    facture
                                </a>&nbsp;|&nbsp;
                                <a id="refund-button"><span class="text-danger">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            rembourser</span>
                                </a>
                            </small>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Livreur:</p>
                    <p>Produit:</p>
                    <p>Service:</p>
                    <p>Coût produit HT:</p>
                    <p>Coût service HT:</p>
                    <p>Coût produit TTC:</p>
                    <p>Coût service TTC:</p>
                    <p>Coût total HT:</p>
                    <p>Coût total TTC:</p>
                    <p>Remboursement:</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Historique
                </h3>
            </div>
            <div class="panel-body">
                <div class="row form-inline">
                    <div class="col-xs-1"></div>
                    <div class="form-group  col-xs-8">
                        <input id="add-note-input" type="text" class="form-control" style="width: 100%;" placeholder="Ajouter une note...">
                    </div>
                    <div class="col-xs-2">
                        <button id="add-note-button" type="submit" class="btn btn-default btn-success" style="width: 100%;">Poster
                        </button>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td style="width: 15%;">
                                <!--Date-->
                                </td>
                                <td style="width: 70%;">
                                <!--Content-->
                                </td>
                                <td style="width: 15%;">
                                <!--Author-->
                                </td>
                            </tr>
                        </thead>
                        <tbody id="notes-list-tbody">
                        <tr>
                            <td>
                                <small>
                                    16/2/2017 - 15:41
                                </small>
                            </td>
                            <td>
                                SMS envoyee par twilio - status: sent
                            </td>
                            <td>
                                <small>
                                    ludovic chovino
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>
                                    16/2/2017 - 15:41

                                </small>
                            </td>
                            <td>
                                SMS envoyee par twilio - status: queued
                            </td>
                            <td>
                                <small>
                                    ludovic chovino
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small>
                                    16/2/2017 - 09:01
                                </small>
                            </td>
                            <td>
                                notification envoyee: dropped
                            </td>
                            <td>
                                <small>
                                    ludovic chovino
                                </small>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>