<div class="container ptb">
    <div class="row">
        <div class="col-md-6">
            <h2>MONBUTLER.FR livre vos envies chez vous </h2>
            <p class="mt">Vous n'avez pas le temps, vous n'avez pas envie de vous déplacer ou vous n'avez pas envie de chercher</p>
            <p class="">Nous vous apportons les croissants le matin, les cadeaux de dernières minutes, la paire de chaussures qu vous désirez, un chargeur de téléphone, votre repas du midi ou votre diner, l'apéro...et pleins d'autres choses</p>
            <p class="">MONBUTLER.FR vous met en relation avec des professionnels partenaires (nettoyage à domicile, garde d'enfant, location de voitures, recherche de séjours, d'hôtels ou de billets d'avion. </p>
            <p class="">Télécharger l'application ou <a href="">commander directement de votre ordinateur</a>. </p>
            <p class="store">
                <a href="#"><img src="{{ asset('bundles/ButlerBundle/assets/img/app-store.png') }}" height="50" alt=""></a>
                <a href="#"><img src="{{ asset('bundles/ButlerBundle/assets/img/google-play.png') }}" height="50" alt=""></a>
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ asset('bundles/ButlerBundle/assets/img/phone.png') }}" class="img-responsive mt" alt="">
        </div>
    </div><!--/row-->
</div><!--/container-->