<div id="g">
    <div class="text-center">
        <h3>Comment ça marche</h3>
    </div>
    <div class="container">
        <div class="white-line">
            <div class="row sponsor centered">
                <div class="col-sm-2 col-sm-offset-1">
                    <span class="fa-stack">
                        <i class="fa fa-laptop fa-5x"></i>
                        <br/>
                        <h3>1. Demander</h3>
                    </span>
                </div>
                <div class="col-sm-2">
                    <hr style="color: #000000; border-top: 3px solid #555; margin-top: 57px;">
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack">
                        <i class="fa fa-credit-card-alt fa-4x"></i>
                        <br/>
                        <h3>2. Commander</h3>

                    </span>
                </div>
                <div class="col-sm-2">
                    <hr style="color: #000000; border-top: 3px solid #555; margin-top: 57px;">
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack">
                        <i class="fa fa-bicycle fa-5x"></i>
                        <br/>
                        <h3>3. Recevez</h3>
                    </span>
                </div>
            </div><!--/row-->
        </div>
    </div>
</div><!--/g-->