<div id="f">
    <div class="container">
        <div class="row centered">
            <h2>Contact</h2>
            <h5>support@monbutler.fr</h5>

            <p class="mt">
                <a href="#"><i class="ion-social-twitter"></i></a>
                <a href="#"><i class="ion-social-instagram"></i></a>
                <a href="#"><i class="ion-social-facebook"></i></a>
            </p>
            <a href="{{ path('mentions') }}">Mentions Légales</a> |
            <a href="{{ path('conditions') }}">C.G.V.</a> |
            <a href="#f">Contactez nous</a> |
            <a href="">Plan du site</a> |
            <a href="">Blog</a> |
            <a href="">FAQ</a> |
            <h6 class="mt">COPYRIGHT 2017 - <a href="{{ path('homepage') }}">MONBUTLER.FR</a></h6>
        </div><!--/row-->
    </div><!--/container-->
</div><!--/F-->