<div id="sep">
    <div class="container">
        <div class="row centered">
            <div class="col-md-8 col-md-offset-2">
                <div class="square_opacity">
                    <h1>La vie quotidienne nous offre de moins en moins de temps.</h1>
                    <h4>MONBUTLER.FR vous aide à gagner du temps quotidiennement afin de profiter de la vie.</h4>
                    <h5>Imaginez un assistant personnel à votre disposition de 9h à 22h 7j/7. </h5>
                    <h5>MONBUTLER.FR réalise pour vous les livraison et achats que vous désirez à Lyon et à Villeurbanne.</h5>
                    <h5>Votre assistant personnel vous livre toute vos demandes(*) directement chez vous!</h5>
                </div>
                <p><a href="#h" class="btn btn-conf-2 btn-green">Commander Maintenant</a></p>
            </div><!--/col-md-8-->
        </div>
    </div>
</div><!--/sep-->
