<div class="container ptb">
    <div class="row centered">
        <h2 class="mb">Un Assistant Personnel à partir de 5€/prestation</h2>
        <h2 class="mb">Découvrez également nos formules d'abonnement.</h2>
        <div class="col-md-4">
            <div class="price-table">
                <div class="p-head">
                    Classic
                </div>
                <div class="p-body">
                    <ul class="features">
                        <li>8 prestations</li>
                    </ul>
                    <div class="price">
                        <span class="sub">€</span>
                        <span class="detail">29</span>
                        <span class="sub">/mois</span>
                    </div><!--/price-->
                    <button class="btn btn-conf-2 btn-green">Commander</button>
                </div><!--/p-body-->
            </div><!--/price-table-->
        </div><!--/col-md-4-->

        <div class="col-md-4">
            <div class="price-table">
                <div class="p-head">
                    Chef
                </div>
                <div class="p-body">
                    <ul class="features">
                        <li>15 prestations</li>
                    </ul>
                    <div class="price">
                        <span class="sub">€</span>
                        <span class="detail">59</span>
                        <span class="sub">mois</span>
                    </div><!--/price-->
                    <button class="btn btn-conf-2 btn-green">Commander</button>
                </div><!--/p-body-->
            </div><!--/price-table-->
        </div><!--/col-md-4-->

        <div class="col-md-4">
            <div class="price-table">
                <div class="p-head">
                    Platine
                </div>
                <div class="p-body">
                    <ul class="features">
                        <li>30 prestations</li>
                    </ul>
                    <div class="price">
                        <span class="sub">€</span>
                        <span class="detail">99</span>
                        <span class="sub">/mois</span>
                    </div><!--/price-->
                    <button class="btn btn-conf-2 btn-green">Commander</button>
                </div><!--/p-body-->
            </div><!--/price-table-->
        </div><!--/col-md-4-->
    </div><!--/row-->
</div><!--/container-->