<div id="green">
    <div class="text-center">
        <h3>CE QUE PENSENT NOS CLIENTS...</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 centered">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <h3>Service sérieux et rapide j'ai commandé des chaussures que je n'avais pas le temsp d'aller chercher et j'ai reçu dans l'après midi après avoir cinfirmé l'heure de livraison, je recommande.</h3>
                            <h5><tgr>Jonathan B. le 15/03/2017</tgr></h5>
                        </div>
                        <div class="item">
                            <h3>Satisfaite pour une première utilisation, simple, efficace et rapide.</h3>
                            <h5><tgr>Annick C. le 28/02/2017</tgr></h5>
                        </div>
                        <div class="item">
                            <h3>J'ai commandé des cigarettes et l'apéro un dimanche alors que tout était fermé près de chez moi. super!</h3>
                            <h5><tgr>Alexandre A. le 19/03/2017</tgr></h5>
                        </div>
                    </div>
                </div><!--/Carousel-->

            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!--/green-->