<div class="container-fluid section arrow-bottom" style="padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="western" align="CENTER" style="margin-bottom: 0.03in; background: #ffffff; line-height: 115%">
                    <font face="Calibri, serif">
                        <font size="2" style="font-size: 11pt">
                            <font face="Century Gothic, serif">
                                <font size="5">
                                    <b>
                                        Mentions Légales
                                    </b>
                                </font>
                            </font>
                        </font>
                    </font>
                </p>
                <p class="western" align="CENTER" style="margin-bottom: 0.03in; background: #ffffff; line-height: 115%">
                    <font face="Calibri, serif">
                        <font size="2" style="font-size: 11pt">
                            <font face="Century Gothic, serif">
                                <font size="2">
                                    Développeur/Editeur du site
                                </font>
                            </font>
                        </font>
                    </font>
                </p>
                <p class="western" align="CENTER" style="margin-bottom: 0.03in; background: #ffffff; line-height: 115%">
                    <font face="Calibri, serif">
                        <font size="2" style="font-size: 11pt">
                            <font face="Century Gothic, serif">
                                <font size="2">
                                    obtenirmacartegrise.fr est développé et géré par LUDOTECHWEB, immatriculée sous le numéro de
                                    SIRET
                                    numéro 8149261500016, code APE: 4511Z, dont le siège social est situé
                                    au 119 boulevard de Stalingrad - cs 40227 69626 Villeurbanne cedex.
                                </font>
                            </font>
                        </font>
                    </font>
                </p>
                <br/>
                <p class="western" align="CENTER" style="margin-bottom: 0.03in; background: #ffffff; line-height: 115%">
                    <font face="Calibri, serif">
                        <font size="2" style="font-size: 11pt">
                            <font face="Century Gothic, serif">
                                <font size="2">
                                    Droits d'auteur
                                </font>
                            </font>
                        </font>
                    </font>
                </p>
                <p class="western" align="CENTER" style="margin-bottom: 0.03in; background: #ffffff; line-height: 115%">
                    <font face="Calibri, serif">
                        <font size="2" style="font-size: 11pt">
                            <font face="Century Gothic, serif">
                                <font size="2">
                                    Les données publiées sur le site obtenirmacartegrise.fr sont la propriété exclusive de son
                                    titulaire.
                                    Toute
                                    reproduction totale ou partielle de ces textes, marques et/ou logos, effectuée à partir des
                                    éléments
                                    du site
                                    sans l'autorisation expresse de son propriétaire est prohibée, au sens de l'article L. 713-2 du
                                    Code
                                    de la
                                    propriété intellectuelle.
                                </font>
                            </font>
                        </font>
                    </font>
                </p>
                <br/>
                <p class="western" align="CENTER" style="margin-bottom: 0.03in; background: #ffffff; line-height: 115%">
                    <font face="Calibri, serif">
                        <font size="2" style="font-size: 11pt">
                            <font face="Century Gothic, serif">
                                <font size="2">
                                    Décharge de responsabilité
                                </font>
                            </font>
                        </font>
                    </font>
                </p>
                <p class="western" align="CENTER" style="margin-bottom: 0.03in; background: #ffffff; line-height: 115%">
                    <font face="Calibri, serif">
                        <font size="2" style="font-size: 11pt">
                            <font face="Century Gothic, serif">
                                <font size="2">
                                    LCILLIMITICS, ne donne aucune garantie, explicite ou implicite, et n'assume aucune responsabilité
                                    relative à
                                    l'utilisation de la présente publication en ligne. A ce titre, il ne peut être redevables à un
                                    utilisateur
                                    ou une autre partie, des dommages directs ou indirects, spéciaux, particuliers ou accessoires
                                    découlant de
                                    l'utilisation de obtenirmacartegrise.fr ou d'un autre site relié par un lien hypertexte.
                                    <br/>
                                    LCILLIMITICS s'engage à faire les efforts nécessaires pour en garantir un caractère pertinent,
                                    exact
                                    et fiable,
                                    mais ne peut être tenue responsable d'éventuelles erreurs, d'une absence de disponibilité des
                                    informations et/ou
                                </font>
                            </font>
                        </font>
                    </font>
                </p>
                <br/>
                <p class="western" align="CENTER" style="margin-bottom: 0.03in; background: #ffffff; line-height: 115%">
                    <font face="Calibri, serif">
                        <font size="2" style="font-size: 11pt">
                            <font face="Century Gothic, serif">
                                <font size="2">
                                    Hébergement du site
                                </font>
                            </font>
                        </font>
                    </font>
                </p>
                <p class="western" align="CENTER" style="margin-bottom: 0.03in; background: #ffffff; line-height: 115%">
                    <font face="Calibri, serif">
                        <font size="2" style="font-size: 11pt">
                            <font face="Century Gothic, serif">
                                <font size="2">
                                    OVH SAS au capital de 10 000 000 € RCS Roubaix – Tourcoing 424 761 419 00045 Code APE 6202A Siège
                                    social : 2 rue
                                    Kellermann - 59100 Roubaix - France.
                                </font>
                            </font>
                        </font>
                    </font>
                </p>
                <br/>
            </div>
        </div>
    </div>
</div>
