<div id="h">
    <div class="logo">MON BUTLER .FR</div>
    <div class="hiring hidden-xs">
        <!--
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-facebook"></i></a>
        <button class='btn btn-conf btn-green' type="button">DEVENEZ BUTLER</button>
        <button class='btn btn-conf btn-green' type="button">SE CONNECTER</button>
        <button class='btn btn-conf btn-green' type="button">S'INCRIRE</button>
        -->
    </div>
    <div class="container">
        <form role="form" action="register.php" method="post" enctype="plain">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 centered"> <!--style="padding-left:0px;"-->
                    <div class="square_opacity">
                        <h1>Bienvenu(e) sur MONBUTLER.FR<br/>Comment puis-je vous aider?</h1>
                        <h4>
                            MONBUTLER.FR est votre Assistant personnel qui réalise vos achats (Boutiques, Restaurants...) et vous les livre directement chez vous à Lyon et Villeurbanne de 9h à 22h 7j/7.

                            Notre service vous permet de gagner du temps au quotidien et de profiter de la VIE!
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 centered">
                        <div class="mtb">
                            <input type="email" name="email" class="subscribe-input" placeholder="Ex: Pouvez vous m'apporter un chargeur d'iphone 7" required>
                            <button class='btn btn-conf btn-green' type="submit">Commandez maintenant</button>
                        </div><!--/mt-->
                    </div>
                    <h6></h6>
                </div>
            </div><!--/row-->
        </form>
    </div><!--/container-->
</div><!-- /H -->