{% extends '_admin_base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% include '_admin_top.html.twig' %}
            {% include '_admin_searchbar.html.twig' %}
            {% include '_admin_listing.html.twig' %}
        </div>
    </div>
    {% include '_admin_step_js.html.twig' %}
    {% include '_admin_menu_js.html.twig' %}

{% endblock %}